<html>

<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css" />
    <link rel="stylesheet" href="/css/lib/image-picker.css" />
</head>

<body>
    <div class='frame1'>
<div class="black-banner-right"></div>
        <div>
            <table id='table_01'>
                <!-- EN-TETE -->
                <thead>
                    <tr>
                        <td>
                            <hr class="separation-line-big" />
                        </td>
                    </tr>
                    <tr>
                        <td class='bandeau'><img src="assets/images/bandeau_ETAGE.png" width="1080" height="120"></td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr class="separation-line-regular" />
                        </td>
                    </tr>
                </thead>
                <!-- CORPS -->
                <tbody>
                    <!-- LIGNE-BLOC 1 -->
                    <tr>
                        <td>
                            <div>
                                <table>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo1' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top'>
                                            <input id="titre1" class='titre' placeholder="SALLE NON RESERVEE" maxlength='40'>
                                        </td>
                                        <td class='right' rowspan="2">
                                            <img class="picto" id="picto1" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    éTATS-UNIS
                                                </div>
                                            </div>
                                            <div class="etage N1plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 2 -->
                    <tr>
                        <td>
                            <div>
                                <table class='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo2' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top'>
                                            <input id='titre2' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td class='right' rowspan="2">
                                            <img class="picto" id="picto2" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    CROIX-ROUSSE
                                                </div>
                                            </div>
                                            <div class="etage N1plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 3 -->
                    <tr>
                        <td>
                            <div>
                                <table class='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo3' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top'>
                                            <input id='titre3' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td class='right' rowspan="2">
                                            <img class="picto" id="picto3" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    FOURVIèRE
                                                </div>
                                            </div>
                                            <div class="etage N1plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 4 -->
                    <tr>
                        <td>
                            <div>
                                <table class='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo4' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top'>
                                            <input id='titre4' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td class='right' rowspan="2">
                                            <img class="picto" id="picto4" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    BELLECOUR
                                                </div>
                                            </div>
                                            <div class="etage N1plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 5 -->
                    <tr>
                        <td>
                            <div>
                                <table class='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo5' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top'>
                                            <input id='titre5' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td class='right' rowspan="2">
                                            <img class="picto" id="picto5" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    VIEUX-LYON
                                                </div>
                                            </div>
                                            <div class="etage N1plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 6 -->
                    <tr>
                        <td>
                            <div>
                                <table class='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo6' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top'>
                                            <input id='titre6' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td class='right' rowspan="2">
                                            <img class="picto" id="picto6" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    SAÔNE
                                                </div>
                                            </div>
                                            <div class="etage S1plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 7 -->
                    <tr>
                        <td>
                            <div>
                                <table class='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo7' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top'>
                                            <input id='titre7' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td class='right' rowspan="2">
                                            <img class="picto" id="picto7" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    RHÔNE
                                                </div>
                                            </div>
                                            <div class="etage S1plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div>
            <table id='table_02'>
                <thead>
                    <tr>
                        <td>
                            <hr class="separation-line-big" />
                        </td>
                    </tr>
                    <tr>
                        <td class='bandeau'>
                            <img src="assets/images/bandeau_NIVEAU.png" width="1080" height="120">
                        </td>
                    </tr>
                    <tr>
                        <td colspan="3">
                            <hr class="separation-line-regular" />
                        </td>
                    </tr>
                </thead>
                <tbody>
                    <!-- LIGNE-BLOC 8 -->
                    <tr>
                        <td>
                            <div>
                                <table id='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo8' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top' class="titre">
                                            <input id='titre8' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td rowspan="2">
                                            <img class="picto" id="picto8" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    TONY GARNIER
                                                </div>
                                            </div>
                                            <div class="etage N0plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 9 -->
                    <tr>
                        <td>
                            <div>
                                <table id='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo9' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top' class="titre">
                                            <input id='titre9' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td rowspan="2">
                                            <img class="picto" id="picto9" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    JEAN MOULIN
                                                </div>
                                            </div>
                                            <div class="etage N0plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                    <!-- LIGNE-BLOC 10 -->
                    <tr>
                        <td>
                            <div>
                                <table id='bloc'>
                                    <tr>
                                        <td class='left' rowspan="2">
                                            <img id='logo10' class="logoDisplayed" src="assets/images/CISL.png">
                                        </td>
                                        <td class='center-top' class="titre">
                                            <input id='titre10' type='text' class='titre' placeholder="SALLE NON RESERVEE">
                                        </td>
                                        <td rowspan="2">
                                            <img class="picto" id="picto10" src="assets/images/pictoEscNord.png">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class='center-bottom'>
                                            <div class="salle">
                                                <div class="salle-top">
                                                    SALLE
                                                </div>
                                                <div class="salle-bottom">
                                                    FRèRES LUMIèRE
                                                </div>
                                                <?php include 'tables.html'; ?> </div>
                                            <div class="etage N0plus">
                                            </div>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td colspan="3">
                                            <hr class="separation-line-regular" />
                                        </td>
                                    </tr>
                                </table>
                            </div>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
    <!-- load script at last in order to avoid assets loading obstacle -->
    <script src="/js/lib/jquery-3.2.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="/js/lib/fit-text.js"></script>
    <script src="/js/action-socket.js"></script>
    <script>
    $(function() {
        var socket = io();
        socket.on('update display', function(stateDB) {updateDisplay(stateDB);});
    });
    </script>
</body>

</html>
