/*font */

@font-face {
    font-family: 'AkzidenzGroteskBlack';
    src: url('font/akzidenz-grotesk-black.ttf');
    color: #1D1E1C;
}

@font-face {
    font-family: 'AkzidenzGroteskLight';
    src: url('font/akzidenz-grotesk-light.otf');
    color: #1D1E1C;
}


/*Reset CSS*/

*,
*:after,
*:before {
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/********** LAYOUT FRAME 1 ***************/

body {
    background: #000000;
}

div.black-banner-right {
    position: absolute;
    right: 0px;
    width: 2px;
    height: 1928px;
    background: #000000;
    z-index: 3;
}

div.frame1 {
background: #FFFFFF;
    position: absolute;
    width: 1081px;
    height: auto;
    z-index: 1;
}

div.frame2 {
    display: none;
    position: absolute;
    width: 30%;
    background: #FFFFFF;
    border-radius: 5px;
    z-index: 10;
    -moz-box-shadow: 5px 5px 20px 5px #999;
    -webkit-box-shadow: 5px 5px 20px 5px #999;
}

div.frame3 {
    display: none;
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.8;
}

div.frame-picto {
    display: none;
    position: absolute;
    width: 30%;
    background: #FFFFFF;
    z-index: 10;
    -moz-box-shadow: 5px 5px 20px 5px #999;
    -webkit-box-shadow: 5px 5px 20px 5px #999;
}

table {
    width: 100%;
}

div.frame1btns {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-flex-flow: row wrap;
    flex-flow: row wrap;
}
 
button {
    color: white;
    cursor: pointer;
    font-family: Arial;
    font-size: 30px;
    margin: 50px;
}

.reloadbtn {
    -webkit-flex: initial;
    flex: initial;
    background-color: #29bc5a;
    -webkit-flex: 1;
    flex: 1;
    padding: 50px 20px;
}

.resetbtn {
    background-color: #fe001a;
    -webkit-flex: 1;
    flex: 1;
    padding: 50px 20px;
}

.publishbtn {
    background-color: #3b5998;
    padding: 50px 20px;
    width: 100%;
}


/*************** CELL CONTENT ***************/

img {
    display: block;
    margin: auto;
}


/*--------- LEFT CELL ----------*/

td.left {
    width: 250px;
    height: 159px;
    padding: 0px;
}

.logoDisplayed {
    max-width: 100%;
    height: auto;
    max-height: 159px;
}


/*--------- RIGHT CELL ----------*/

td.right {
    width: 220px;
    height: 159px;
    padding: 0px;
}

.picto {
    max-width: 100%;
    height: auto;
    max-height: 159px;
}


/*--------- CENTER-TOP CELL ----------*/

td.center-top {
    width: auto;
    height: 79px;
    vertical-align: middle;
}

.titre {
    width: 610px;
    height: 79px;
}


/*--------- CENTER-BOTTOM CELL ----------*/

td.center-bottom {
    width: 615px;
    height: 79px;
    vertical-align: middle;
}

div.salle {
    float: left;
    width: 610px;
    height: 79px;
    background-image: url("../images/Support-Bois.png");
}

div.etage {
    position: relative;
    left: 530px;
    top: 7px;
    z-index: 2;
    width: 79px;
    height: 79px;
    background-size: 60px;
    background-repeat: no-repeat;
}

div.N1plus {
    background-image: url("../images/Picto-N1plus.png");
}

div.S1plus {
    background-image: url("../images/Picto-S1plus.png");
}

div.N0plus {
    background-image: url("../images/Picto-N0plus.png");
}


/*************** TEXT ***************/

input.titre,
span.titre {
    font-size: 36px;
    font-family: 'AkzidenzGroteskBlack';
    padding-left: 25px;
    text-transform: uppercase;
    width: 100%;
}

div.salle {
    align-content: bottom;
}

div.salle-top {
    font-size: 17px;
    font-family: 'AkzidenzGroteskLight';
    padding-top: 15px;
    padding-bottom: 2px;
    padding-left: 25px;
    text-transform: uppercase;
    width: 100%;
}

div.salle-bottom {
    font-size: 36px;
    font-family: 'AkzidenzGroteskLight';
    padding-left: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

input.titre1 {
    font-size: 36px;
    text-transform: uppercase;
    width: 610px;
}

textarea:focus,
input:focus {
    outline: none;
}


/*************** SEPARATION ***************/

hr {
    border: none;
    background-color: #1D1E1C;
}

.separation-line-regular {
    height: 6px;
}

.separation-line-big {
    height: 12px;
}

td.bandeau{
    height: 120px;
}
/************** LAYOUT FRAME 2 *******/

div.frame2btns {
    text-align: right;
    padding: 20px;
}

button {
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    width: 100px;
}

.editbtn {
    background-color: #3b5998;
}

.okbtn {
    background: url('/assets/images/crop.png') no-repeat;
}

.addbtn {
    background-color: #ffcc00;
}

.image-upload > input {
    display: none;
}

.column-left {
    float: left;
    width: 33%;
}

.column-center {
    display: inline-block;
    width: 33%;
    padding-right: 20px;
}

.column-right {
    float: right;
    width: 33%;
    padding-right: 15px;
}

div.frame-picto {
    padding: 20px;
}

.okpictobtn,
#okpictobtn {
    float: right;
}


/************* SCREEN SIZE ***************/


/*zoom for responsive design*/

@media screen and (min-width: 100px) {
    body {
        zoom: 0.37;
        -moz-transform: scale(0.15);
        -moz-transform-origin: 0 0;
    }
}

@media screen and (min-width: 500px) {
    body {
        zoom: 0.45;
        -moz-transform: scale(0.25);
        -moz-transform-origin: 0 0;
    }
}

@media screen and (min-width: 700px) {
    body {
        zoom: 0.65;
        -moz-transform: scale(0.65);
        -moz-transform-origin: 0 0;
    }
}


@media screen and (min-width: 900px) {
    body {
        zoom: 0.994;
        -moz-transform: scale(0.994);
        -moz-transform-origin: 0 0;
    }
}

@media screen and (min-width: 1080px) {
    body {
        zoom: 1;
        -moz-transform: scale(1);
        -moz-transform-origin: 0 0;
    }
}


/************* IMAGE PICKER ***************/

.image_picker_image {
    max-width: 140px;
    max-height: 100px;
    background-color: #FF0000;
}


/************* CROP ************************/

.crop-wrapper {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container-ontop {
    position: absolute;
    cursor: move;
    background-color: rgba(5, 255, 5, 0);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0, 0, 0, .9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.top-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 100%;
    height: 50%;
    margin-top: -150px;
    position: absolute;
}

.bottom-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 100%;
    height: 50%;
    margin-bottom: -150px;
    position: absolute;
    bottom: 0;
}

.right-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 50%;
    height: 300px;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
    position: absolute;
}

.left-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 50%;
    height: 300px;
    top: 50%;
    right: 0px;
    margin-top: -150px;
    margin-right: -150px;
    position: absolute;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 999;
    width: 300px;
    height: 300px;
    border: solid 2px rgba(222, 222, 222, .9);
    box-sizing: content-box;
    pointer-events: none;
}

