/*font */

@font-face {
    font-family: 'AkzidenzGroteskBlack';
    src: url('font/akzidenz-grotesk-black.ttf');
    color: #1D1E1C;
}

@font-face {
    font-family: 'AkzidenzGroteskLight';
    src: url('font/akzidenz-grotesk-light.otf');
    color: #1D1E1C;
}


/*Reset CSS*/

*,
*:after,
*:before {
    margin: 0px;
    padding: 0px;
    border: 0px solid black;
    border-collapse: collapse;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}


/********** LAYOUT FRAME 1 ***************/

body {
    background: #FFFFFF;
}

div.frame1 {
    position: absolute;
    width: 1080px;
    height: auto;
    z-index: 1;
}

div.frame2 {
    display: none;
    position: absolute;
    width: 30%;
    background: #FFFFFF;
    border-radius: 5px;
    z-index: 10;
    -moz-box-shadow: 5px 5px 20px 5px #999;
    -webkit-box-shadow: 5px 5px 20px 5px #999;
}

div.frame3 {
    display: none;
    position: absolute;
    width: 100%;
    background: black;
    opacity: 0.8;
}


table {
    width: 100%;
}


div.frame1btns {
    padding: 50px;
    padding-top: 100px;
    text-align: center;
}

button {
    display: inline-block;
    color: white;
    border: none;
    cursor: pointer;
    width: 40%;
    font-family: Arial;
    font-size: 20px;
}

.publishbtn {
    background-color: #3b5998;
    padding: 14px 20px;
}

.resetbtn {
    background-color: #fe001a;
    padding: 14px 20px;
}


/*************** CELL CONTENT ***************/

img {
    display: block;
    margin: auto;
}

/*--------- LEFT CELL ----------*/
td.left {
    width: 250px;
    height: 159px;
    padding: 0px;
}
.logoDisplayed {
    max-width: 100%;
    height: auto;
}

/*--------- RIGHT CELL ----------*/

td.right {
    width: 220px;
    height: 159px;
    padding: 5px;
}
.picto {
    width: 220px;
}

/*--------- CENTER-TOP CELL ----------*/
td.center-top {
    width: auto;
    height: 79px;
    vertical-align: middle;
}
.titre {
    width: 610px;
    height: 79px;
}

/*--------- CENTER-BOTTOM CELL ----------*/
td.center-bottom {
    width: 615px;
    height: 79px;
    vertical-align: middle;
}

div.salle {
    float: left;
    width: 610px;
    height:79px;
    background-image: url("../images/Support-Bois.png");
}

div.etage {
    position: relative;
    left: 530px;
    top: 7px;
    z-index: 2;
    width: 79px;
    height:79px;
    background-size: 60px;
    background-repeat: no-repeat;
}

div.N1plus {
    background-image: url("../images/Picto-N1plus.png");
}
div.S1plus {
    background-image: url("../images/Picto-S1plus.png");
}
div.N0plus {
    background-image: url("../images/Picto-N0plus.png");
}
/*************** TEXT ***************/

input.titre,
span.titre {
    font-size: 36px;
    font-family: 'AkzidenzGroteskBlack';
    padding-left: 25px;
    text-transform: uppercase;
    width: 100%;
}

div.salle{
    align-content: bottom;
}

div.salle-top {
    font-size: 17px;
    font-family: 'AkzidenzGroteskLight';
    padding-top: 15px;
    padding-bottom: 2px;
    padding-left: 25px;
    text-transform: uppercase;
    width: 100%;
}

div.salle-bottom {
    font-size: 36px;
    font-family: 'AkzidenzGroteskLight';
    padding-left: 25px;
    padding-bottom: 10px;
    text-transform: uppercase;
    width: 100%;
}

input.titre1 {
    font-size: 36px;
    text-transform: uppercase;
    width: 610px;
}

textarea:focus,
input:focus {
    outline: none;
}


/*************** SEPARATION ***************/

hr {
    border: none;
    background-color: #1D1E1C;
}

.separation-line-regular {
    height: 8px;
}

.separation-line-big {
    height: 15px;
}

/************** LAYOUT FRAME 2 *******/

div.frame2btns {
    text-align: right;
}

button {
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
    width: 100px;
}

.editbtn {
    background-color: #3b5998;
}

.okbtn {
    background-color: #30a72f;
}


/*************** LAYOUT CROP FRAME ********/

.content {
    max-width: 1290px;
    padding: 0 1em;
    margin: 0 auto;
    text-align: center;
}

.component {
    position: relative;
    background: #3F3F3F;
    padding: 4em;
    height: 500px;
    border: 3px solid #49708A;
    max-width: 901px;
    overflow: hidden;
    margin: 0 auto;
}


/************* SCREEN SIZE ***************/


/*zoom for responsive design*/

@media screen and (min-width: 100px) {
    body {
        zoom: 0.37;
        -moz-transform: scale(0.15);
        -moz-transform-origin: 0 0;
    }
}

@media screen and (min-width: 500px) {
    body {
        zoom: 0.45;
        -moz-transform: scale(0.25);
        -moz-transform-origin: 0 0;
    }
}

@media screen and (min-width: 700px) {
    body {
        zoom: 0.65;
        -moz-transform: scale(0.65);
        -moz-transform-origin: 0 0;
    }
}

@media screen and (min-width: 900px) {
    body {
        zoom: 0.86;
        -moz-transform: scale(0.86);
        -moz-transform-origin: 0 0;
    }
}

@media screen and (min-width: 1080px) {
    body {
        zoom: 1;
        -moz-transform: scale(1);
        -moz-transform-origin: 0 0;
    }
}


/************* IMAGE PICKER ***************/

.image_picker_image {
    max-width: 140px;
    max-height: 100px;
    background-color: #FF0000;
}


/************* CROP ************************/

.crop-wrapper {
    background-color: rgba(255, 255, 255, 1);
    position: relative;
    width: 100%;
    height: 90vh;
    overflow: hidden;
}

.resize-container {
    position: relative;
    display: inline-block;
    cursor: move;
    margin: 0 auto;
}

.resize-container-ontop {
    position: absolute;
    cursor: move;
    background-color: rgba(5, 255, 5, 0);
    z-index: 1000;
    width: 100%;
    height: 100%;
}

.resize-container img {
    display: block;
}

.resize-container:hover img,
.resize-container:active img {
    outline: 2px dashed rgba(0, 0, 0, .9);
}

.resize-handle-ne,
.resize-handle-se,
.resize-handle-nw,
.resize-handle-sw {
    position: absolute;
    display: block;
    width: 10px;
    height: 10px;
    background: rgba(0, 0, 0, .9);
    z-index: 999;
}

.resize-handle-nw {
    top: -5px;
    left: -5px;
    cursor: nw-resize;
}

.resize-handle-sw {
    bottom: -5px;
    left: -5px;
    cursor: sw-resize;
}

.resize-handle-ne {
    top: -5px;
    right: -5px;
    cursor: ne-resize;
}

.resize-handle-se {
    bottom: -5px;
    right: -5px;
    cursor: se-resize;
}

.top-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 100%;
    height: 50%;
    margin-top: -150px;
    position: absolute;
}

.bottom-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 100%;
    height: 50%;
    margin-bottom: -150px;
    position: absolute;
    bottom: 0;
}

.right-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 50%;
    height: 300px;
    top: 50%;
    margin-top: -150px;
    margin-left: -150px;
    position: absolute;
}

.left-overlay {
    z-index: 990;
    background-color: rgba(222, 222, 222, .6);
    width: 50%;
    height: 300px;
    top: 50%;
    right: 0px;
    margin-top: -150px;
    margin-right: -150px;
    position: absolute;
}

.overlay {
    position: absolute;
    left: 50%;
    top: 50%;
    margin-left: -150px;
    margin-top: -150px;
    z-index: 999;
    width: 300px;
    height: 300px;
    border: solid 2px rgba(222, 222, 222, .9);
    box-sizing: content-box;
    pointer-events: none;
}

.overlay:before {
    top: 0;
    margin-left: -2px;
    margin-top: -40px;
}

.overlay:after {
    bottom: 0;
    margin-left: -2px;
    margin-bottom: -40px;
}

.overlay-inner:before {
    left: 0;
    margin-left: -40px;
    margin-top: -2px;
}

.overlay-inner:after {
    right: 0;
    margin-right: -40px;
    margin-top: -2px;
}

.btn {
    padding: 6px 10px;
    background-color: rgb(222, 60, 80);
    border: none;
    border-radius: 2px;
    color: #FFF;
    margin: 10px 5px;
    line-height: 30px;
}

.btn-crop img {
    vertical-align: middle;
    margin-left: 8px;
}
